.main {
  display: grid;
  grid-template-columns: 1fr;

  .group {
    display: flex;
    flex-direction: column;
  }

  .main-text {
    .text-wrapper {
      padding: 45px;
    }
    text-align: center;
    line-height: 24px;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 2rem;
      color: hsl(212, 27%, 19%);
      line-height: 1.2;
    }

    p {
      color: hsl(232, 10%, 55%);
      margin-bottom: 25px;
    }

    a {
      border-bottom: 4px solid hsl(51, 100%, 49%);
      font-weight: 800;
      color: hsl(212, 27%, 19%);
      text-transform: uppercase;
    }
  }

  .group.two .main-text a {
    border-bottom: 4px solid hsl(7, 99%, 70%);
  }
  .main-img img {
    width: 100%;
    height: 100%;
    flex: 1;
  }

  .main-img.x {
    order: -1;
  }

  .main-text:first-of-type {
    order: 1;
  }

  .main-text.bg.a {
    background-image: url("../../../public/assets/image-graphic-design.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 423px;
    margin-bottom: 0;
  }

  .main-text.bg.b {
    background-image: url("../../../public/assets/image-photography.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 423px;
    margin-bottom: 0;
  }

  .group.three {
    .main-text.bg.a p {
      color: hsl(167, 40%, 24%);
    }

    .main-text.bg.b p {
      color: hsl(198, 62%, 26%);
    }
  }
}

@media screen and (min-width: 700px) {
  .main {
    grid-template-columns: 1fr;

    .group {
      flex-direction: row-reverse;
      .main-text {
        flex: 1;
        text-align: left;
      }
      .main-img {
        flex: 1;
      }
    }

    .two {
      flex-direction: row;
    }
    .three .main-text {
      text-align: center;
      .text-wrapper {
        padding: 0 180px;
      }
    }
  }
}
