.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: hsl(168, 34%, 41%);

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      gap: 80px;

      li a {
        color: hsl(167, 40%, 24%);
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: var(--color-text-footer-hover);
        }
      }
    }
  }
}
