.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 45px;
  background-color: #a2dcce;

  h1 {
    color: hsl(167, 40%, 24%);
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      gap: 80px;

      li a {
        color: hsl(167, 40%, 24%);
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .socials {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    i {
      color: hsl(167, 40%, 24%);
      &:hover {
        color: #fff;
      }
    }
  }
}
